@import "/src/styles/colors";
@import "/src/styles/breakpoints";

.header {
  position: sticky;
  background-color: $darker-grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  padding: 3rem;
  top: 0;
  left: 0;
  width: 100%;

  @media only screen and (min-width: $large) {
    background-size: contain;
    background-position: bottom left;
    background-image: url("/chuck_norris_PNG19.png");
    background-repeat: no-repeat;
  }

  &__searchBox {
    @media only screen and (min-width: $large) {
      margin-left: 16rem;
    }
  }
}