@import "/src/styles/exporter";

.header {
  position: sticky;
  background-color: $darker-grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $headerHeight;
  min-height: 150px;
  padding: 1rem;
  background-image: url("/chuck_norris_PNG19.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: -30% 20%;

  @include breakpoint($bp__medium-up) {
    background-size: contain;
    background-position: bottom left;
    height: $headerHeight;
    justify-content: space-between;
  }

  &__home {
    width: 15rem;
    height: 100%;
    cursor: pointer;

    @include breakpoint($bp__medium-up) {
      width: 15rem;
      height: 100%;
      cursor: pointer;
    }

  }

  &__searchBox {}
}