@import "/src/styles/exporter";

.initialResults {
  background-image: url("/sunset_small.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%  - $headerHeight;

  @include breakpoint($bp__medium-up) {
       background-size: 100%;
       background-image: url("/sunset.jpg");
  }
}