@import "/src/styles/exporter";

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($bp__medium-up) {
    flex-direction: row;
    align-items: flex-end;
  }

  &__input {
    margin: 0.5rem 0 0;
    width: 100%;

    @include breakpoint($bp__medium-up) {
      width: unset;
    }
  }

  &__buttons {
    margin: 0.5rem 0 0;
    width: 100%;

    @include breakpoint($bp__medium-up) {
      margin: 0 2rem;
    }
  }
}