@import "/src/styles/colors";
@import "/src/styles/mixins";

.joke {
  @include card-board;
  padding: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.9);
  }

  > a, > div {
    display: block;
    height: 100%;
    white-space: pre-wrap;
    padding: 3rem;


    mark {
      background: $turquoise;
      border-radius: 0.2rem;
    }

    /*
      Important for accessibility
      https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark#accessibility_concerns
    */
    mark::before,
    mark::after {
      clip-path: inset(100%);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    mark::before {
      content: " [highlight start] ";
    }

    mark::after {
      content: " [highlight end] ";
    }
  }
}