@import "/src/styles/exporter";

.joke {
  @include card-board;
  padding: 0 1rem 0 0!important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  &:hover {
    background-color: rgb(58, 67, 78);
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.9);
  }

  @include breakpoint($bp__medium-up) {
    padding: 0 3rem 0 0;
  }

  &__link {
    display: flex;
    width: 100%;
    > a {
      flex:none;
      display: block;
      height: 100%;
      width: 100%;
      white-space: break-spaces;
      padding: 1rem 0 1rem 1rem;
  
      @include breakpoint($bp__medium-up) {
        padding: 3rem 0 3rem 3rem;
      }
    }
  }

  &__icon {
    margin: 1.5rem 0.7rem;
    svg {
      color: #CCC;
    }
  }  
}