@import "/src/styles/exporter";

.joke {
  @include card-board;
  padding: 0!important;

  &:hover {
    background-color: rgb(58, 67, 78);
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.9);
  }

  > a {
    display: block;
    height: 100%;
    white-space: pre-wrap;
    padding: 1rem;

    @include breakpoint($bp__medium-up) {
      padding: 2rem;
    }
  }
}