@import "/src/styles/exporter";

.results {
  @include result;
  height: 100%;

  &__amount {
    font-weight: bolder;
    color: $coral;
  }

  &__joke {
    @include card-board;

    &_m_highlight {
      color: $mantis;
    }
  }
}