@import "/styles/colors";

.header {
  position: sticky;
  background-color: $darker-grey;
  background-image: url("/chuck_norris_PNG19.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  top: 0;
  left: 0;
  width: 100%;
}