@import "/src/styles/breakpoints";

@mixin card-board {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  margin: 2rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 0.4rem;
  transition: all 0.5s linear;

  @include breakpoint($bp__medium-up) {
    padding: 3rem;
  }
}

@mixin result {
  padding: 1rem;
  background-image: url("/bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 15%;
  background-attachment: fixed;

  @include breakpoint($bp__medium-up) {
    padding: 2rem;
  }
}