/**
  Revolver Style CSS Loader
  Credits to @dfitzy
  https://codepen.io/dfitzy/pen/XdaoWg
*/

@import "colors";
$accentColor: $lighter-grey;
$fontSizeToResponsiveness: 16px;

.loader {
  animation: spin 1.5s linear alternate infinite;
  background: $accentColor;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  font-size: $fontSizeToResponsiveness;
}

.loader:before {
  background: $accentColor;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
  font-size: $fontSizeToResponsiveness;
}

.loader:after {
  background: $darker-grey;
  border-radius: 50%;
  box-shadow: 0em -2.60em $darker-grey,
  2.25em -4.02em $darker-grey,
  2.25em -1.25em $darker-grey,
  4.60em 0em $darker-grey,
  2.25em 1.25em $darker-grey,
  2.25em 4.02em $darker-grey,
  0em 2.60em $darker-grey,
  -2.25em 4.02em $darker-grey,
  -2.25em 1.25em $darker-grey,
  -4.60em 0em $darker-grey,
  -2.25em -1.25em $darker-grey,
  -2.25em -4.02em $darker-grey;
  content: '';
  display: block;
  height: 2em;
  width: 2em;
  font-size: $fontSizeToResponsiveness;
}

.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px $accentColor;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
  font-size: $fontSizeToResponsiveness;
}

.loader:before, .loader:after, .inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  font-size: $fontSizeToResponsiveness;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $darker-grey,
    2.25em 1.25em $darker-grey,
    0em 2.60em $darker-grey,
    -2.25em 1.25em $darker-grey,
    -2.25em -1.25em $darker-grey;
  }
  15% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $darker-grey,
    2.25em 1.25em $darker-grey,
    0em 2.60em $darker-grey,
    -2.25em 1.25em $darker-grey,
    -2.25em -1.25em $accentColor;
  }
  30% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $darker-grey,
    2.25em 1.25em $darker-grey,
    0em 2.60em $darker-grey,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
  45% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $darker-grey,
    2.25em 1.25em $darker-grey,
    0em 2.60em $accentColor,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
  60% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $darker-grey,
    2.25em 1.25em $accentColor,
    0em 2.60em $accentColor,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
  75% {
    box-shadow: 0em -2.60em $darker-grey,
    2.25em -1.25em $accentColor,
    2.25em 1.25em $accentColor,
    0em 2.60em $accentColor,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
  90% {
    box-shadow: 0em -2.60em $accentColor,
    2.25em -1.25em $accentColor,
    2.25em 1.25em $accentColor,
    0em 2.60em $accentColor,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
  100% {
    box-shadow: 0em -2.60em $accentColor,
    2.25em -1.25em $accentColor,
    2.25em 1.25em $accentColor,
    0em 2.60em $accentColor,
    -2.25em 1.25em $accentColor,
    -2.25em -1.25em $accentColor;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}