$darker-grey: #151d27;
$lighter-grey: #96a6b7;
$paper: #F2F2F2;

/** Chosen Color Palette (Unicorn) > https://coolors.co/ff8360-e8e288-7dce82-3cdbd3-00fff5 */
$coral: rgba(255, 131, 96, 1);
$khaki-x-11-light-khaki: rgba(232, 226, 136, 1);
$mantis: rgba(125, 206, 130, 1);
$turquoise: rgba(60, 219, 211, 1);
$turquoise-blue: rgba(0, 255, 245, 1);
