@import "exporter";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: $darker-grey;


  color: $paper;
  height: 100%;
}

html {
  font-size: 3.5vw;

  @include breakpoint($bp__medium-only) {
    overflow-y: scroll;
    font-size: 2vw;
  }

  @include breakpoint($bp__large-up) {
    overflow-y: scroll;
    font-size: 1vw;
  }
}

body > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}