@import "/src/styles/exporter";

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include breakpoint($bp__medium-up) {
    justify-content: unset;
  }

  &__input {
    border: none;
    outline: none;
    background-color: #2d343d;
    font-size: 1.3rem;
    padding: 0.7rem;
    border-radius: $leftButton;
    height: 3rem;
    color: $paper;
    width: 100%;

    @include breakpoint($bp__medium-up) {
      width: 16rem;
    }

    &::placeholder {
      font-size: 1.2rem;
      text-align: left;
      color: $paper;
    }
  }

  &__submit {
    border: none;
    outline: none;
    background-color: $coral;
    color: #FFF;
    padding: 0.7rem 2rem;
    cursor: pointer;
    border-radius: $rightButton;
    height: $buttonHeight;
    font-size: 0;

    svg {
      height: $buttonHeight - 1.5rem;
      width: $buttonHeight - 1.5rem;
    }
  }
}