@import "/src/styles/exporter";

.randomSearchButton {
  @include ripple-container;
  cursor: help;
  background-color: $mantis;
  color: $darker-grey;
  padding: 0.7rem 2rem;
  border-radius: $radiusButton;
  height: $buttonHeight;
  width: 100%;

  @include breakpoint($bp__medium-only) {
    font-size: 0;
  }

  @include breakpoint($bp__medium-up) {
    width: unset;
  }

  svg {
    vertical-align: text-bottom;
    height: $buttonHeight - 1.5rem !important;
    width: $buttonHeight - 1.5rem !important;
  }
}
