@import "/src/styles/colors";
@import "/src/styles/measures";
@import "/src/styles/breakpoints";

.randomSearchButton {
  border: none;
  outline: none;
  cursor: help;
  background-color: $mantis;
  color: $darker-grey;
  padding: 0.7rem 2rem;
  border-radius: $radiusButton;
  height: $buttonHeight;
  width: 100%;

  @media only screen and (min-width: $large) {
    width: unset;
  }

  svg {
    vertical-align: text-bottom;
  }
}