@import "/src/styles/colors";
@import "/src/styles/mixins";

.joke {
  @include card-board;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.9);
  }

  > a, > div {
    padding: 3rem;
    display: block;
    height: 100%;
    white-space: pre-wrap;
  }
}