@import "/src/styles/exporter";

.joke {
  @include card-board;

  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint($bp__medium-up) {
    justify-content: space-between;
    flex-direction: row;
  }

  &__text {
    display: flex;
    align-items: center;
    height: 100%;
    white-space: pre-wrap;

    &__backButton {
      padding: 1rem;
      font-size: 0;

      > a {
        height: $buttonHeight - 1.5rem !important;
        width: $buttonHeight - 1.5rem !important;

        svg {
          height: $buttonHeight - 1.5rem !important;
          width: $buttonHeight - 1.5rem !important;
        }
      }
    }
  }

  &__socials {
    margin: 2rem 0;
    width: 15rem;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    @include breakpoint($bp__medium-up) {
      margin: 0;
    }

    > div {
      font-size: 0;

      svg {
        vertical-align: text-bottom;
        height: $buttonHeight - 1.5rem !important;
        width: $buttonHeight - 1.5rem !important;
      }
    }

    &__shareButton {
      @include breakpoint($bp__large-up) {
        display: none;
      }
    }
  }
}
