@import "/src/styles/exporter";

.error {
  padding: 2rem;
  background-image: url("/bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 60%;

  &__message {
    @include card-board;
  }

}