@import "/src/styles/colors";
@import "/src/styles/mixins";

.highlight {
  color: $mantis;
}

.results {
  padding: 2rem;
  background-image: url("/bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 60%;

  &__joke {
    @include card-board;
  }

  &__amount {
    font-weight: bolder;
    color: $coral;
  }
}