@import "/src/styles/exporter";

.highlight {
  color: $mantis;
}

.results {
  @include result;

  &__joke {
    @include card-board;
  }

  &__amount {
    font-weight: bolder;
    color: $coral;
  }
}