@import "../breakpoints";

@mixin card-board {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  margin: 2rem 0;
  background-color: rgb(45, 52, 61);
  padding: 1rem;
  border-radius: 0.4rem;
  transition: all 0.5s linear;
  white-space: pre-wrap;
  overflow: hidden;

  @include breakpoint($bp__medium-up) {
    padding: 3rem;
  }

  mark {
    background: $coral;
    border-radius: 0.2rem;
    text-shadow: none;
    padding: 0.01rem;
  }

  /*
    Important for accessibility
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark#accessibility_concerns
  */
  mark::before,
  mark::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  mark::before {
    content: " [highlight start] ";
  }

  mark::after {
    content: " [highlight end] ";
  }
}